.title {
  text-align: center;
}

.stopwatch-output {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 100%;
}

.output-text {
  width: 200px;
  height: 80px;
  background-color: aquamarine;
  border-radius: 15px;
  display: grid;
  place-items: center;
}

.buttons-container {
  text-align: center;
}

.button {
  width: 75px;
  height: 35px;
  border-radius: 7px;
  border-width: 1px;
}