.stopwatch-output { 
    display: grid; 
    justify-content: center;
    width: 100%;
}

.stopwatch-title {
    text-align: center;  
    margin-bottom: 0;
}

.stopwatch-time {
    display: grid;
    place-items: center;
    font-size: 28px;
    width: 200px;
    height: 80px;
    background-color: aquamarine;
    border-radius: 15px;
}

.buttons-container {
    text-align: center;
}   

.button {
    width: 75px;
    height: 35px;
    border-radius: 7px;
    border-width: 1px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}