.main-container {
  /* display: flex; */
}

.title {
  text-align: center;
}

.stopwatch-output {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.buttons-container {
  text-align: center;
}

.button {
  width: 75px;
  height: 35px;
  border-radius: 7px;
  border-width: 1px;
}